
h1 {
  text-align: center;
  font-family: Cambria;
  background-color: #999;
}
body {
  font-family: Cambria;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.5vw;
}
p.bdy {
  display: block;
  position: relative;
  margin-left: auto;
  text-align: left;
  border-width: thick;
  border: inset;
  margin: auto;
  padding: 2%;
}
img {
  max-width: 15%;
}
.boot  {
  display: block;
}
.gcm {
  float: right;
}
ul {
  display: block;
  background-color: inherit;
  position: relative;
  }
p.ega {
  position: relative;
  }
section {
  position: relative;
  padding: 10px;
  border-color: #999;
  border-top: 5px;
  border-right: 5px;
  border-bottom: 20px;
  border-left: 20px;
}
footer {
  display: block;
  position: relative;
  text-align: center;
}
